<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ToDo App</title>

    <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" />
</head>

<body>
    <main class="main" id="wrapper">
        <section class="todo-section">
            <div class="todo-content" id="content">
                <h2>WHAT DO YOU WANT TO DO TODAY?</h2>

                <form action="{{ url_for('main.add_todo') }}" method="POST" role="form">
                    <div class="form-group">
                        <div class="input-group">
                            <input class="form__input" name="add-todo" type="text" placeholder="Enter a new todo">
                            <span class="input-group-btn">
                                <button type="submit" class="add-button" id="add-btn">ADD</button>
                            </span>
                        </div>
                    </div>
                </form>

                <div class="btn-toolbar">
                    <div class="btn-group">
                        <a type="button" href="{{ url_for('main.delete_completed') }}" class="btn-warning">
                            DELETE COMPLETED
                        </a>
                    </div>
                    <div class="btn-group">
                        <a type="button" href="{{ url_for('main.delete_all') }}" class="btn-warning">
                            DELETE ALL
                        </a>
                    </div>
                </div>

                <ul class="list-group">
                    {% for todo in todos %}
                    <a class="link-item" href="{{ url_for('main.complete_todo', oid=todo._id) }}">
                        <li class="list-group-item {% if todo.complete %}todo-completed{% endif %}">{{ todo.text }}</li>
                    </a>
                    {% endfor %}
                </ul>
            </div>
        </section>

        <footer>
            <div class="text-center">
                Iryna Hryshanovich 2023 <strong>ToDo App</strong>
            </div>
        </footer>
    </main>
</body>

</html>
